body {
    padding-top: 50px;
    padding-bottom: 40px;
    min-width: 1300px;
}

.hero-unit{
    padding-top: 20px;
}

#video_container{
    position:relative;
    width: 640px;
    height: 480px;
    margin: auto;
    border: 1px solid black;
}


#videos {
    margin: 0 auto;
    width: 640px;
    height: 480px;
    border: 1px solid black;
}

#videos video:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
}

#videos video {
    top: 0px;
    width: 640px;
    height: 480px;
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
}

#faceDetect_canvas_container{
    margin: 0 auto;
    width: 213px;
}

#faceDetect_canvas {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    width: 213px;
    height: 160px;
    border: 1px solid black;
}

.inputContainer {
    width: 400px;
    margin: 1em auto;
    display: block;
}

.inputContainer h4{
    display:inline;
    padding-right:10px;
}

.inputContainer output{
    display:inline;
    padding-left:10px;
}

#matching{
    display: inline-block;
}
#status{
    display: inline-block;
}
