body {
    padding-top: 50px;
    padding-bottom: 40px;
    min-width: 1300px;
}

#gifContainer img{
    margin-top: 10px;
    border: 1px solid black;

    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    -o-transform: rotate3d(0, 1, 0, 180deg);
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);

}

.hero-unit{
    padding-top: 20px;
}

#videos {
    margin: 0 auto;
    width: 640px;
    height: 480px;
    border: 1px solid black;
    position: relative;
}

video.highlight{
    -moz-box-shadow: 0px 0px 20px 5px #8BA870;
    -webkit-box-shadow: 0px 0px 20px 5px #8BA870;
    box-shadow: 0px 0px 20px 5px #8BA870;

}

#videos video:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
}

#videos video {
    top: 0px;
    width: 640px;
    height: 480px;
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    -o-transform: rotate3d(0, 1, 0, 180deg);
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
}

#faceDetect_canvas_container{
    margin: 0 auto;
    width: 213px;
}

#faceDetect_canvas {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    -o-transform: rotate3d(0, 1, 0, 180deg);
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);

    width: 213px;
    height: 160px;
    border: 1px solid black;
}

.inputContainer {
    width: 400px;
    margin: 1em auto;
    display: block;
}

.inputContainer h4{
    display:inline;
    padding-right:10px;
}

.inputContainer output{
    display:inline;
    padding-left:10px;
}

#matching{
    display: inline-block;
}
#status{
    display: inline-block;
}

h3,h4{
    text-align: center;
}

#button_container{
    /*margin: 0 auto;*/
    /*width: 50%;*/
}

#welcomeContainer {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(200, 200, 200, 0.7)
    z-index: 100;
}
#welcome {
    margin: 5em auto 0;
    padding: 2em;
    width: 20em;
    background: white;
    border-radius: 0.2em;

    box-shadow: 0 0 4em black;
    -moz-box-shadow: 0 0 4em black;
    -webkit-box-shadow: 0 0 4em black;

    z-index: 101;
}

#byYourselfContainer{
    display:inline-block;
    width: 49%;
    float:left;
    text-align: center;
}

#withOthersContainer{
    display:inline-block;
    width: 49%;
    float:right;
    text-align: center;
}

h2{
    text-align: center;
}

h5{
    margin:2px;
}
#myModal li{
    margin-left:50px;
}

h7{
    font-size: 12px;
    font-style: italic;
}

#gifContainer h7{
    text-align: center;
    display:block;
    margin-bottom: 2px;
}

#gifContainer h4{
    text-align: center;
    margin-bottom: 2px;
}

#myModal img{
    /*margin: 10px;*/
    width: 100%;
}

.modal-body .btn{
    margin-top:10px;
}
